.footer{
    background: rgb(61,229,213);
    background: linear-gradient(90deg,rgba(46,68,255,1) 0% ,rgba(61,229,213,1) 100%);
    box-shadow: 0px 0px 3px 0px black;
}
.container{
    padding: 10px;

}
h1{
    margin: 0;
    text-align: center;
}